@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}



.main{
  background: var(--background);
    text-align: center;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFCF9;
}
.header{
  color: var(--title);
  width: 533px;
  height: 123px;
  margin-bottom:37px;
  margin-top: 100px;

}
.header img {
  width: 87px;
  height: 62px;
}
button{
  font-weight: bolder;
  display: flex;
  padding: 8px 20px;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor:pointer;
  margin-top: 10px;
  margin-bottom:37px;
}
button img {
  width: 50px;
  padding-right: 15px;
}

.novoFilme{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.novoFilme img{
  width: 300px;
  height: 300px;
}
.novoFilme div{

  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
  padding-top:20px
}
.novoFilme div p{
  font-size: .8rem;
}
